.connect div iframe {
    width: 20%;
}

.connect div svg, .connect div iframe {
    /* padding: 25px; */
    padding: 40px;
    margin: 0 auto;
}

.connect div a:link {
    color: black;
}

.connect div a:visited {
    color: black
}

/* media query for phone */

@media all and (max-width: 400px) {
    .connect div iframe {
        padding: 0;
        width: 60%;
    }

    .connect div svg {
        padding: 15px;
    }
}

/* media query for tablet */

@media all and (min-width: 450px) and (max-width: 1000px) {
    .connect div iframe {
        margin: 0 auto;
        width: 30%;
    }
}